#ms_movies{
    
    .row{
        justify-content: center;


        .ms_card{
            border: 2px solid white;
            margin: 15px;
            padding: 20px;
            background-color: darkgray;
            
            p{
                text-align: center;
                color: white;
                
                .ms_special{
                    padding: 5px;
                    margin: 5px;
                    font-size: 1.5rem;
                    border: 2px solid white;
                    
                    
                }

            }
        }
        
    }
    
}